In [1]:
import pandas as pd

Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv

In [5]:
data = pd.read_csv('2017_jun_final.csv')

Прочитайте отриману таблицю, використовуючи метод head

In [7]:
data.head(5)

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харьков,до 10 человек,...,True,ниже среднего,"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,...,True,выше среднего,Веб-разработка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Киев,до 1000 человек,...,False,средний,"Веб-разработка,Корпоративные системы",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одесса,до 200 человек,...,False,ниже среднего,"Desktop Applications,Веб-разработка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 и более лет,0.5,4500,500,Другой,до 10 человек,...,False,средний,"Desktop Applications,Веб-разработка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV

Визначте розмір таблиці за допомогою методу shape

In [9]:
data.shape

(8704, 25)

Визначте типи всіх стовпців за допомогою dataframe.dtypes

In [12]:
pd.DataFrame(data).dtypes

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)

In [24]:
NANcount = {}
colomn = list(data)
for col in colomn:
    NANcount[col] = (sum(data[col].isnull()))
NANcount

{'N': 0,
 'Должность': 0,
 'Язык.программирования': 3850,
 'Специализация': 7219,
 'Общий.опыт.работы': 0,
 'Опыт.работы.на.текущем.месте': 0,
 'Зарплата.в.месяц': 0,
 'Изменение.зарплаты.за.12.месяцев': 0,
 'Город': 0,
 'Размер.компании': 0,
 'Тип.компании': 0,
 'Пол': 0,
 'Возраст': 0,
 'Образование': 0,
 'Университет': 358,
 'Еще.студент': 0,
 'Уровень.английского': 0,
 'Предметная.область': 223,
 'Дата.заполнения': 0,
 'User.Agent': 0,
 'exp': 0,
 'current_job_exp': 0,
 'salary': 0,
 'Валюта': 8694,
 'cls': 1574}

Видаліть усі стовпці з пропусками, крім стовпця Язык.программирования

In [51]:
delete_colomn = pd.concat((data[data.columns[0:2]], data[data.columns[3:]] ), axis=1)

data_not_nan = delete_colomn.dropna(axis=1)
data_not_nan.insert(2, data.columns[2],data[data.columns[2]])
print(data_not_nan.shape)
data_not_nan.head(5)

(8704, 20)

,N,Должность,Язык.программирования,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,Пол,Возраст,Образование,Еще.студент,Уровень.английского,Дата.заполнения,User.Agent,exp,current_job_exp,salary
0,1,Junior QA engineer,NaN,0.5,0.5,400,0,Харьков,до 10 человек,Аутсорсинговая,женский,20,Незаконченное высшее,True,ниже среднего,12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400
1,2,Junior QA engineer,NaN,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,Аутсорсинговая,женский,21,Незаконченное высшее,True,выше среднего,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430
2,3,Software Engineer,C#/.NET,4,1,2500,800,Киев,до 1000 человек,Аутсорсинговая,мужской,26,Высшее,False,средний,12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500
3,4,Software Engineer,JavaScript,5,4,2000,400,Одесса,до 200 человек,Продуктовая,мужской,30,Среднее,False,ниже среднего,12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000
4,5,Senior Software Engineer,JavaScript,10 и более лет,0.5,4500,500,Другой,до 10 человек,Продуктовая,мужской,30,Техникум / Колледж,False,средний,12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500

Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"

In [54]:
NANcount = {}
colomn = list(data_not_nan)
for col in colomn:
    NANcount[col] = (sum(data[col].isnull()))
NANcount

{'N': 0,
 'Должность': 0,
 'Язык.программирования': 3850,
 'Общий.опыт.работы': 0,
 'Опыт.работы.на.текущем.месте': 0,
 'Зарплата.в.месяц': 0,
 'Изменение.зарплаты.за.12.месяцев': 0,
 'Город': 0,
 'Размер.компании': 0,
 'Тип.компании': 0,
 'Пол': 0,
 'Возраст': 0,
 'Образование': 0,
 'Еще.студент': 0,
 'Уровень.английского': 0,
 'Дата.заполнения': 0,
 'User.Agent': 0,
 'exp': 0,
 'current_job_exp': 0,
 'salary': 0}

Видаліть усі рядки у вихідній таблиці за допомогою методу dropna

In [58]:
drop_raws = data.dropna(axis=0)
drop_raws.shape

(0, 25)

Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python

In [60]:
python_data = data[data['Язык.программирования'].apply(lambda e: e == 'Python')]
python_data.shape

(207, 25)

Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"

In [130]:
group_posada = python_data.groupby(['Должность'])
group_posada.head(5)

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
12,13,Software Engineer,Python,NaN,1,меньше 3 месяцев,800,200,Киев,до 50 человек,...,False,ниже среднего,"Веб-разработка,Другое",12/06/2017 13:05:54,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,1.00,0.00,800,NaN,DEV
68,69,Software Engineer,Python,NaN,1.5,0.5,900,900,Киев,до 10 человек,...,True,выше среднего,Веб-разработка,12/06/2017 13:11:17,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1.50,0.50,900,NaN,DEV
87,88,Junior Software Engineer,Python,NaN,0.5,0.5,600,0,Киев,до 10 человек,...,True,выше среднего,"Веб-разработка,eCommerce",12/06/2017 13:12:25,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,0.50,0.50,600,NaN,DEV
114,115,Junior Software Engineer,Python,NaN,1.5,0.5,685,250,Киев,до 1000 человек,...,False,средний,Другое,12/06/2017 13:14:52,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.50,0.50,685,NaN,DEV
143,144,Junior Software Engineer,Python,NaN,1,1,750,250,Киев,до 10 человек,...,True,выше среднего,Веб-разработка,12/06/2017 13:19:10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.00,1.00,750,NaN,DEV
153,154,Software Engineer,Python,NaN,2,1,1200,0,Днепр,до 50 человек,...,False,продвинутый,"Веб-разработка,Мультимедиа",12/06/2017 13:20:15,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,2.00,1.00,1200,NaN,DEV
162,163,Junior Software Engineer,Python,NaN,0.5,0.5,500,0,Винница,до 200 человек,...,True,ниже среднего,Веб-разработка,12/06/2017 13:21:08,Mozilla/5.0 (Linux; Android 7.1.2; LG-D802 Bui...,0.50,0.50,500,NaN,DEV
171,172,Junior Software Engineer,Python,NaN,0.25,0.25,800,0,Киев,до 50 человек,...,False,продвинутый,Телекоммуникации,12/06/2017 13:22:31,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,0.25,0.25,800,NaN,DEV
217,218,Software Engineer,Python,NaN,8,2,2900,150,Львов,до 1000 человек,...,False,выше среднего,"Веб-разработка,Корпоративные системы",12/06/2017 13:31:50,Mozilla/5.0 (Windows NT 6.2; Win64; x64) Apple...,8.00,2.00,2900,NaN,DEV
302,303,Senior Software Engineer,Python,NaN,10 и более лет,0.5,3500,-300,Киев,до 200 человек,...,False,выше среднего,"Веб-разработка,Gamedev",12/06/2017 13:46:24,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,10.00,0.50,3500,NaN,DEV
373,374,Senior Software Engineer,Python,NaN,7,0.5,3100,1000,Днепр,до 200 человек,...,False,выше среднего,"Веб-разработка,Корпоративные системы",12/06/2017 13:58:16,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6...,7.00,0.50,3100,NaN,DEV
387,388,Software Engineer,Python,NaN,4,1.5,1200,0,Другой,до 10 человек,...,False,ниже среднего,"Веб-разработка,eCommerce",12/06/2017 14:01:02,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,4.00,1.50,1200,NaN,DEV
1172,1173,Senior Software Engineer,Python,NaN,2,2,1300,800,Львов,до 50 человек,...,True,средний,"Веб-разработка,Другое",12/06/2017 17:38:00,Mozilla/5.0 (Linux; Android 6.0.1; Redmi 3S Bu...,2.00,2.00,1300,NaN,DEV
1363,1364,Senior Software Engineer,Python,NaN,10 и более лет,2,1500,1000,Удаленно,до 10 человек,...,False,элементарный,"Системное программирование,Корпоративные системы",12/06/2017 19:10:01,Mozilla/5.0 (Windows NT 10.0; WOW64; rv:53.0) ...,10.00,2.00,1500,NaN,DEV
1489,1490,Senior Software Engineer,Python,NaN,4,1,3300,430,Львов,до 1000 человек,...,False,выше среднего,"Веб-разработка,Корпоративные системы",12/06/2017 20:48:17,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.00,1.00,3300,NaN,DEV
2632,2633,Technical Lead,Python,NaN,4,1.5,3500,1000,Киев,до 50 человек,...,False,выше среднего,Веб-разработка,13/06/2017 12:37:02,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...,4.00,1.50,3500,NaN,SDEV
3145,3146,Technical Lead,Python,NaN,10 и более лет,2,1425,475,Киев,до 50 человек,...,False,выше среднего,Корпоративные системы,13/06/2017 14:51:19,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:52....,10.00,2.00,1425,NaN,SDEV
3935,3936,Technical Lead,Python,NaN,10 и более лет,0.25,3700,0,Киев,свыше 1000 человек,...,False,выше среднего,"Embedded,Другое",14/06/2017 12:26:36,Mozilla/5.0 (Linux; Android 5.0; SM-N900V Buil...,10.00,0.25,3700,NaN,SDEV
4323,4324,Technical Lead,Python,NaN,2,2,3300,800,Харьков,до 200 человек,...,False,средний,Веб-разработка,15/06/2017 11:16:57,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....,2.00,2.00,3300,NaN,SDEV
4746,4747,Technical Lead,Python,NaN,5,3,2900,180,Днепр,до 10 человек,...,False,выше среднего,Веб-разработка,16/06/2017 21:46:04,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_2...,5.00,3.00,2900,NaN,SDEV
5748,5749,System Architect,Python,NaN,10 и более лет,0.25,3000,0,Киев,до 50 человек,...,False,выше среднего,"Веб-разработка,eCommerce",20/06/2017 18:40:40,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....,10.00,0.25,3000,NaN,SDEV
8228,8229,System Architect,Python,NaN,10 и более лет,2,5000,0,Киев,до 10 человек,...,False,средний,"Веб-разработка,Другое",06/07/2017 19:15:05,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_4...,10.00,2.00,5000,NaN,SDEV

Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"

In [131]:
salary = group_posada.agg({'Зарплата.в.месяц': ['min', 'max']})
salary

                         Зарплата.в.месяц
                                      min   max
Должность
Junior Software Engineer              100  1250
Senior Software Engineer             1300  9200
Software Engineer                     500  5400
System Architect                     3000  5000
Technical Lead                       1425  6200

Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"

In [155]:
def fill_avg_salary(val):
    print(python_daata[python_data['Должность'] == val]['salary'])
#     print(python_data['Должность'])
#     print(val['Должность'])
#     print(group_posada['Зарплата.в.месяц']['min'].index.values('Должность'))
#     print(python_data['Должность'] == val)
    return python_data[python_data['Должность'] == val]['salary'].mean()


salary['avg'] = python_data.apply(lambda e: fill_avg_salary(e))

Series([], Name: salary, dtype: int64)
12       800
68       900
87       600
114      685
143      750
        ...
8546    2000
8625    1750
8635    4000
8673     350
8695    1500
Name: salary, Length: 207, dtype: int64
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)
Series([], Name: salary, dtype: int64)

In [151]:
salary

                         Зарплата.в.месяц       avg
                                      min   max
Должность
Junior Software Engineer              100  1250 NaN
Senior Software Engineer             1300  9200 NaN
Software Engineer                     500  5400 NaN
System Architect                     3000  5000 NaN
Technical Lead                       1425  6200 NaN